@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	:root {
		--background: 210 20% 98.0392%;
		--foreground: 215 27.907% 16.8627%;
		--card: 0 0% 98.8235%;
		--card-foreground: 0 0% 12.549%;
		--popover: 0 0% 98.8235%;
		--popover-foreground: 0 0% 12.549%;
		--primary: 210 100% 20%;
		--primary-foreground: 0 0% 100%;
		--secondary: 210 100% 40%;
		--secondary-foreground: 0 0% 100%;
		--muted: 0 0% 93.7255%;
		--muted-foreground: 220 8.9362% 46.0784%;
		--accent: 36 100% 50%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;
		--border: 220 13.0435% 90.9804%;
		--input: 220 13.0435% 90.9804%;
		--ring: 216 12.1951% 83.9216%;
		--chart-1: 210 100% 20%;
		--chart-2: 210 100% 40%;
		--chart-3: 0 0% 90.9804%;
		--chart-4: 34.5763 100% 88.4314%;
		--chart-5: 16.5 24.3902% 32.1569%;
		--sidebar: 210 20% 98.0392%;
		--sidebar-foreground: 215 27.907% 16.8627%;
		--sidebar-primary: 210 100% 20%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 36 100% 50%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 220 13.0435% 90.9804%;
		--sidebar-ring: 216 12.1951% 83.9216%;
		--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
		--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times,
			serif;
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			'Liberation Mono', 'Courier New', monospace;
		--radius: 0.5rem;
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
		--tracking-normal: 0em;
		--spacing: 0.25rem;
	}
	.dark {
		--background: 0 0% 10.1961%;
		--foreground: 0 0% 100%;
		--card: 0 0% 10.1961%;
		--card-foreground: 0 0% 100%;
		--popover: 0 0% 10.1961%;
		--popover-foreground: 0 0% 100%;
		--primary: 209.8039 100% 30%;
		--primary-foreground: 0 0% 100%;
		--secondary: 210 100% 40%;
		--secondary-foreground: 0 0% 100%;
		--muted: 0 0% 13.3333%;
		--muted-foreground: 226.4516 100% 93.9216%;
		--accent: 36.0736 100% 31.9608%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 21.1765%;
		--input: 0 0% 28.2353%;
		--ring: 0 0% 40%;
		--chart-1: 210 100% 65.098%;
		--chart-2: 210 100% 76.0784%;
		--chart-3: 0 0% 16.4706%;
		--chart-4: 30 17.8571% 21.9608%;
		--chart-5: 30 100% 87.8431%;
		--sidebar: 0 0% 10.1961%;
		--sidebar-foreground: 0 0% 100%;
		--sidebar-primary: 209.8039 100% 30%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 36.0736 100% 31.9608%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 0 0% 21.1765%;
		--sidebar-ring: 0 0% 40%;
		--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
		--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times,
			serif;
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			'Liberation Mono', 'Courier New', monospace;
		--radius: 0.5rem;
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
			0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
